In [43]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine
import os
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

### Extract CSVs into DataFrames

In [44]:
#path to source CSV
file_path_boroughs = os.path.join("actualApp/data/Transformation","boroughs_id.csv")
file_path_host = os.path.join("actualApp/data/Transformation","host_id.csv")
file_path_lisiting = os.path.join("actualApp/data/Transformation","listings-detailed-cleaned.csv")
file_path_neighbourhood = os.path.join("actualApp/data/Transformation","neighbourhood_id.csv")
file_path_room_type = os.path.join("actualApp/data/Transformation","room_type_id.csv")
file_path_rates_dayofweek = os.path.join("actualApp/data/Transformation","rates_dayofweek.csv")
file_path_rates_monthly = os.path.join("actualApp/data/Transformation","rates_monthly.csv")

In [45]:
#read country csv
boroughs_data = pd.read_csv(file_path_boroughs)
host_data = pd.read_csv(file_path_host)
listing_data = pd.read_csv(file_path_lisiting)
neighbourhood_data = pd.read_csv(file_path_neighbourhood)
room_type_data = pd.read_csv(file_path_room_type)
dayofweek_data = pd.read_csv(file_path_rates_dayofweek)
rates_monthly_data = pd.read_csv(file_path_rates_monthly)

#boroughs_data id as the index
boroughs_data = boroughs_data.set_index(['borough_id'])
host_data = host_data.set_index(['host_id'])
listing_data = listing_data.set_index(['id'])
neighbourhood_data = neighbourhood_data.set_index(['neighbourhood_id'])
room_type_data = room_type_data.set_index(['room_type_id'])
#dayofweek_data = dayofweek_data.set_index(['listing_id'])
#rates_monthly_data = rates_monthly_data.set_index(['listing_id'])

In [47]:
dayofweek_data

,year,day of week,borough_id,neighbourhood_id,room_type_id,price
0,2017,Friday,1,1,1,98.691434
1,2017,Friday,1,1,2,128.954872
2,2017,Friday,1,2,1,79.000000
3,2017,Friday,1,4,2,48.750000
4,2017,Friday,1,6,1,137.800000
...,...,...,...,...,...,...
15216,2021,Wednesday,5,225,2,46.502915
15217,2021,Wednesday,5,226,1,309.000000
15218,2021,Wednesday,5,227,1,150.000000
15219,2021,Wednesday,5,227,2,72.751701
15220,2021,Wednesday,5,228,1,200.000000

### Create database connection

In [48]:
#create connection
engine = create_engine(f'postgres://ablekwsj:scRNnW0ztSKbX4PP5NQnVJq_uoU0iZ-O@ziggy.db.elephantsql.com:5432/ablekwsj')
connection = engine.connect()
print("Connected!")

Connected!

In [49]:
inspector = inspect(engine)
inspector.get_table_names()

['host_id',
 'listing_master',
 'neighbourhood_id',
 'boroughs_Id',
 'room_type_id',
 'rates_monthly',
 'rates_weekOfDay']

In [50]:
#load boroughs_id
boroughs_data.to_sql(name='boroughs_Id', con=engine, if_exists='append', index=True)

In [53]:
#Load host_id
host_data.to_sql(name='host_id', con=engine, if_exists='append', index=True)

In [ ]:
#load listings-detailed-cleaned
listing_data.to_sql(name='listing_master', con=engine, if_exists='append', index=True)

In [51]:
#load neighbourhood_id
neighbourhood_data.to_sql(name='neighbourhood_id', con=engine, if_exists='append', index=True)

In [42]:
#load rates_dayofweek
dayofweek_data.to_sql(name='rates_dayofweek', con=engine, if_exists='append', index=True)

OperationalError: (psycopg2.OperationalError) server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

[SQL: INSERT INTO rates_dayofweek (listing_id, year, "day of week", price) VALUES (%(listing_id)s, %(year)s, %(day of week)s, %(price)s)]
[parameters: ({'listing_id': 2515, 'year': 2017, 'day of week': 'Tuesday', 'price': 59.0}, {'listing_id': 2595, 'year': 2017, 'day of week': 'Friday', 'price': 250.0}, {'listing_id': 2595, 'year': 2017, 'day of week': 'Monday', 'price': 250.0}, {'listing_id': 2595, 'year': 2017, 'day of week': 'Saturday', 'price': 250.0}, {'listing_id': 2595, 'year': 2017, 'day of week': 'Sunday', 'price': 250.28301886792454}, {'listing_id': 2595, 'year': 2017, 'day of week': 'Thursday', 'price': 250.0}, {'listing_id': 2595, 'year': 2017, 'day of week': 'Tuesday', 'price': 250.0}, {'listing_id': 2595, 'year': 2017, 'day of week': 'Wednesday', 'price': 250.0}  ... displaying 10 of 1260742 total bound parameter sets ...  {'listing_id': 24086178, 'year': 2021, 'day of week': 'Tuesday', 'price': 100.0}, {'listing_id': 24086178, 'year': 2021, 'day of week': 'Wednesday', 'price': 100.0})]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
#load rates_monthly
rates_monthly_data.to_sql(name='rates_monthly', con=engine, if_exists='append', index=True)

In [52]:
#load room_type_id
room_type_data.to_sql(name='room_type_id', con=engine, if_exists='append', index=True)

In [ ]:
#close connection
connection.close

### Load DataFrames into database