In [19]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine
import os
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

### Extract CSVs into DataFrames

In [9]:
#path to source CSV
file_path_boroughs = os.path.join("actualApp/data/Transformation","boroughs_id.csv")
file_path_host = os.path.join("actualApp/data/Transformation","host_id.csv")
file_path_lisiting = os.path.join("actualApp/data/Transformation","listings-detailed-cleaned.csv")
file_path_neighbourhood = os.path.join("actualApp/data/Transformation","neighbourhood_id.csv")
file_path_room_type = os.path.join("actualApp/data/Transformation","room_type_id.csv")
file_path_rates_dayofweek = os.path.join("actualApp/data/Transformation","rates_dayofweek.csv")
file_path_rates_monthly = os.path.join("actualApp/data/Transformation","rates_monthly.csv")

In [11]:
#read country csv
boroughs_data = pd.read_csv(file_path_boroughs)
host_data = pd.read_csv(file_path_host)
listing_data = pd.read_csv(file_path_lisiting)
neighbourhood_data = pd.read_csv(file_path_neighbourhood)
room_type_data = pd.read_csv(file_path_room_type)
dayofweek_data = pd.read_csv(file_path_rates_dayofweek)
rates_monthly_data = pd.read_csv(file_path_rates_monthly)

#boroughs_data id as the index
boroughs_data = boroughs_data.set_index(['borough_id'])
host_data = host_data.set_index(['host_id'])
listing_data = listing_data.set_index(['id'])
neighbourhood_data = neighbourhood_data.set_index(['neighbourhood_id'])
room_type_data = room_type_data.set_index(['room_type_id'])
dayofweek_data = dayofweek_data.set_index(['listing_id'])
rates_monthly_data = rates_monthly_data.set_index(['listing_id'])

In [18]:
boroughs_data

                  borough
borough_id
1                   Bronx
2                Brooklyn
3               Manhattan
4                  Queens
5           Staten Island

### Transform premise DataFrame

### Transform county DataFrame

### Create database connection

### Load DataFrames into database